<div align="center" style="margin-top:20px">
<img src="./assets/logo.png" width="320" style="border-radius: 15px">
</div>

<div class="play-container div-login" align="center">
	<div *ngIf="error" class="alert alert-danger" align="center">{{error}}</div>
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
	    <div class="form-group" align="center">
	        <label for="password">Inserisci il codice di accesso: </label>
	    </div>
	    <code-input #codeInput [isCodeHidden]="true"
              [codeLength]="6"
              (codeChanged)="onCodeChanged($event)"
              (codeCompleted)="onCodeCompleted($event)">
  		</code-input>
	</form>
</div>