<div align="center" style="margin-top:20px">
<img src="assets/logo.png" width="150">
</div>

<!-- <div class="play-container div-login" align="center"> -->
<!-- 	<div *ngIf="error" class="alert alert-danger" align="center">{{error}}</div> -->
<!-- 	<h2>LOGIN</h2> -->
<!-- 	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" > -->
<!-- 	    <div class="form-group" align="center"> -->
<!-- 	        <label for="username">Username: </label> -->
<!-- 	        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" /> -->
<!-- 	        <div *ngIf="submitted && !!f.username.errors" class="invalid-feedback" align="center"> -->
<!-- 	            <div *ngIf="!!f.username.errors['required']" align="center">L'username è obbligatorio</div> -->
<!-- 	        </div> -->
<!-- 	    </div> -->
<!-- 		<br> -->
<!-- 	    <div class="form-group" align="center"> -->
<!-- 	        <label for="password">Password: </label> -->
<!-- 	        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" /> -->
<!-- 	        <div *ngIf="submitted && !!f.password.errors" class="invalid-feedback" align="center"> -->
<!-- 	            <div *ngIf="!!f.password.errors['required']" align="center">La password è obbligatoria</div> -->
<!-- 	        </div> -->
<!-- 	    </div> -->
<!-- 		<br> -->
<!-- 	    <div class="form-group" align="center"> -->
<!-- 	        <button [disabled]="loading" class="btn btn-primary button-timeline"> -->
<!-- 	            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Login -->
<!-- 	        </button> -->
<!-- 	    </div> -->
<!-- 	</form> -->
<!-- </div> -->

<div class="play-container div-login" align="center">
	<div *ngIf="error" class="alert alert-danger" align="center">{{error}}</div>
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
	    <div class="form-group" align="center">
	        <label for="password">Inserisci il codice di accesso: </label>
	    </div>
	    <code-input #codeInput [isCodeHidden]="true"
              [codeLength]="6"
              (codeChanged)="onCodeChanged($event)"
              (codeCompleted)="onCodeCompleted($event)">
  		</code-input>
	</form>
</div>