<p style="margin-top: 20px">Premi il bottone per scaricare il testo della Costituzione in formato PDF.</p>

<div align=center>
	<a href="./assets/costituzione.pdf">SCARICA COSTITUZIONE</a>
</div>

<p style="margin-top: 20px">Premi il bottone per scaricare il testo dell'Inno Ufficiale "God Save The R.E.G.I.N.A.".</p>

<div align=center>
	<a href="./assets/God_Save_The_R.E.G.I.N.A..pdf">SCARICA INNO</a>
</div>

<p style="margin-top: 20px">Qui puoi ascoltare l'Inno Ufficiale "God Save The R.E.G.I.N.A.".</p>
<vm-player autoplay muted controls>
  <vm-audio cross-origin>
    <source data-src="./assets/God_Save_The_R.E.G.I.N.A..mp3" type="audio/mp3" />
  </vm-audio>
</vm-player>